body {
    background: white;
    background-blend-mode: multiply;
    font-family: Arial, Helvetica, sans-serif;
}

.formContainer {
    position: left;
    margin: 15% auto;
    min-height: 50%;
    width: 60%;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.6);
    background: rgb(255, 255, 255);
    padding: 0px 0px0px 0px;
    box-sizing: border-box;
    border-radius: 10px;
}

.formHeader {
    text-align: center;
}

.formContentContainer {
    margin-top: 10%;
}


.formError {
    display: block;
    font-size: 12px;
    text-align: center;
    color: red;
}

.formInput {
    display: block;
    margin: 0px 0px 15px 20px;
    padding: 4px;
    width: 48%;
    height: 10%;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    font-size: 12px;
}

.submitButton {
    background: dodgerblue;
    color: white;
    margin: 10px 20px;
    width: 95.5%;
    height: 8%;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 500;
}


