{% extends "main.html" %}

{% block page_name %}
<h1>About This Wiki</h1>
{% endblock %}

{% block content %}
<h5>Being a random wiki can be a truly exciting and unpredictable experience. With no set topic or theme, the possibilities for content creation are truly endless. Contributors to a random wiki can explore any and every topic that piques their interest, and are free to express themselves creatively in any way they see fit. Whether you're a seasoned writer or just starting out, a random wiki is the perfect place to exercise your creative muscles and see where your imagination takes you. Who knows - you might just stumble upon the next big thing in online content creation!
</h5>



<h3>Your Authors</h3>

<h5>Nasir Barnes:</h5>

<img src="data:;base64,{{ nasir_img }}" width="600" 
height="400"/>

<div>
Nasir Barnes is a seasoned wiki maker with years of experience under his belt. He has been creating wikis for various topics ranging from technology to entertainment and everything in between. His expertise lies in researching and organizing information in a way that is both comprehensive and easily understandable for the intended audience. Nasir has a keen eye for detail and is dedicated to ensuring that the wikis he creates are accurate and up-to-date. His passion for sharing knowledge and making information accessible has earned him a reputation as a reliable and trusted wiki creator. Whether it's a new project or updating an existing wiki, Nasir is always up for the challenge and eager to put his skills to work.
</div>

<h5>Elei Nkatas:</h5>

<img src="data:;base64,{{ elei_img }}" width="600" 
height="700"/>

<div>
Mary Elei Nkata is a seasoned wiki maker with years of experience under her belt. She has been creating wikis for various topics ranging from science to literature and everything in between. Her expertise lies in researching and organizing information in a way that is both comprehensive and easily understandable for the intended audience. Mary has a keen eye for detail and is dedicated to ensuring that the wikis she creates are accurate and up-to-date. Her passion for sharing knowledge and making information accessible has earned her a reputation as a reliable and trusted wiki creator. Whether it's a new project or updating an existing wiki, Mary is always up for the challenge and eager to put her skills to work.
</div>

<h5>Dimitri Pierre-Loui:</h5>

<img src="data:;base64,{{ dimitri_img }}" width="600" 
height="600"/>

<div>
Dimitri Pierre-Louis is a seasoned wiki maker with years of experience under his belt. He has been creating wikis for various topics ranging from politics to sports and everything in between. His expertise lies in researching and organizing information in a way that is both comprehensive and easily understandable for the intended audience. Dimitri has a keen eye for detail and is dedicated to ensuring that the wikis he creates are accurate and up-to-date. His passion for sharing knowledge and making information accessible has earned him a reputation as a reliable and trusted wiki creator. Whether it's a new project or updating an existing wiki, Dimitri is always up for the challenge and eager to put his skills to work.
</div>

{% endblock %}

