{% extends "main.html" %}


{% block page_name %}
<h1>About This Wiki</h1>
{% endblock %}

{% block content %}
<h5>
Computer science has become an integral part of modern society, with its influence felt in nearly every aspect of our lives. The field has grown rapidly in recent decades, with new technologies and innovations emerging at an unprecedented pace. However, the success of computer science would not have been possible without the contributions of some of the most brilliant and influential minds in the field.

The People to Know in Computer Science Wiki is dedicated to highlighting the lives and works of the most notable and influential figures in the history of computer science. From pioneers of programming languages and operating systems to modern-day innovators in cybersecurity and artificial intelligence, our wiki seeks to showcase the incredible contributions made by these individuals to the world of computer science.
    
Our wiki includes detailed biographical information on each individual, along with information on their research, publications, and inventions. We aim to provide insights into their thought processes, philosophies, and contributions to the development of computer science as a field.
    
Our wiki is designed to be an informative and educational resource for students, professionals, and anyone with a general interest in computer science. We hope that it inspires a new generation of innovators and thinkers to push the boundaries of what is possible in the field of computer science.
    
Thank you for visiting our wiki, and we hope that you find it both informative and enjoyable to explore.
</h5>

<h3>Your Authors</h3>

<h5>Nasir Barnes:</h5>



<p style="text-align:center;"><img src="data:image/jpeg;base64,{{ nasir_img }}" width = "500" height = "600"/></p>



<div>
Nasir Barnes is an accomplished computer science major who has been actively involved in various programs and initiatives to promote technology education. He has participated in Tech Exchange, an organization that provides underprivileged students with access to technology education and mentorship opportunities. As a mentor and student, Nasir has helped many young students develop the skills and knowledge they need to succeed in the field of computer science.
Overall, Nasir's expertise, experience, and dedication to promoting technology education make him a highly reliable source of information on the history of computer science and the individuals who have contributed to its growth and development.
</div>

<h5>Mary Elei Nkata:</h5>


<p style="text-align:center;"><img src="data:image/jpeg;base64,{{ elei_img }}" width = "500" height = "600"/></p>



<div>
Mary Elei Nkata is an accomplished computer science major who has been actively involved in various programs and initiatives to promote technology education. She has participated in several organizations that provide underprivileged students with access to technology education and mentorship opportunities. As a mentor and student, Mary has helped many young students develop the skills and knowledge they need to succeed in the field of computer science.
Overall, Mary's expertise, experience, and dedication to promoting technology education make her a highly reliable source of information on the history of computer science and the individuals who have contributed to its growth and development.
</div>

<h5>Dimitri Pierre-Louis:</h5>

<p style="text-align:center;"><img src="data:image/jpeg;base64,{{ dimitri_img }}" width = "500" height = "600"/></p>



<div>
Dimitri Pierre-Louis is an accomplished computer science major who has been actively involved in various programs and initiatives to promote technology education. He has participated in Tech Exchange, an organization that provides underprivileged students with access to technology education and mentorship opportunities. As a mentor and student, Dimitri has helped many young students develop the skills and knowledge they need to succeed in the field of computer science. Overall, Dimitri's expertise, experience, and dedication to promoting technology education make him a highly reliable source of information on the history of computer science and the individuals who have contributed to its growth and development.
</div>

{% endblock %}

