{% extends "main.html" %}

{% block page_name %}

{% endblock %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" />
    <title>Sign In Form</title>
</head>
<body>
    <div class="formContainer">
            <h2 class="formHeader">Sign In!</h2>
            <div class="formContentContainer">
                <form action="", method="post">
                    {{ form.hidden_tag() }}
                    {% if err %}
                    <div class="formError">
                        {{err}} 
                    </div>
                    {% endif %} 
                    <p>
                    {{form.username(class_= "formInput", placeHolder = "Username")}}
                    </p>
                    <p>
                    {{form.password(class_="formInput", placeHolder = "Password")}}
                    </p>
                    <p>{{ form.submit(class_="submitButton") }}</p>
                    </form>
            </div>
    </div>
</body>
</html>
{% endblock %}