<!DOCTYPE html>
<html>

    <a href="/">Home</a>

    <a href = "/pages">Pages</a>

    <a href = "/about">About</a>
    |

    {% if current_user.is_anonymous %}
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>

    {% else %}
    <a href='#'</a>{{name}}</a>
    |
    <a href="/upload">Upload</a>
    <a href="/logout">Log Out</a>  
    {% endif %} 

<head>
     <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
    <title>Wikipedia!</title>
    
    {% block page_name %}
    <h1>Wikipedia!</h1>
    <div>       
        Hey there {{name}}, thanks for using Wikipedia! We hope you enjoy the experience and find everything you're looking for. 
    </div>
    </br>
    {% endblock %}
</head>  

<body>
    <!-- TODO(Project 1): Implement routes. -->
    {% block content %}
    
    {% endblock %}

    </br>
    </br>

</body>

</html>