<!DOCTYPE html>
<html>

<head>
     <!-- TODO(Checkpoint Requirement 3): Change the title and content of your wiki.-->
    <title>Wikipedia!</title>
    
    {% block page_name %}
    <h1>Wikipedia!</h1>
    <div>       
        Hey there, thanks for using Wikipedia! We hope you enjoy the experience and find everything you're looking for. 
    </div>
    </br>
    {% endblock %}
</head>

<body>
    <!-- TODO(Project 1): Implement routes. -->
    {% block content %}
    <a href="/">Home</a>

    <a href = "/pages">Pages</a>

    <a href="/about">About</a>

    |

    <a href="/signup">Sign Up</a>

    <a href="/upload">Upload</a> <!-- when sign in has been implamented, update this to show only after sign in -->
    {% endblock %}

</body>

</html>